* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e0e0e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 95%;
  margin: auto;
}

.chat {
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #252331;
  width: 30%;
  margin: auto;
  margin-top: 100px;
  padding: 20px 0;
  box-shadow: 5px 5px 40px #53b87b52;
}
.btn {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 5px 15px;
  margin: 5px;
  color: #53b87b;
}

header {
  text-align: center;
}
header h1 {
  margin-bottom: 20px;
}

#green {
  color: #53b87b;
}

header h3 {
  margin-bottom: 5px;
}

.dropdown {
  display: none;
}

.chatrooms {
  display: flex;
  justify-content: center;
}
.room:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  background-color: #fff;
  color: #392a5c;
}

.msg-display {
  height: 300px;
  background-color: #252331;
  border-radius: 5px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.msg-display li {
  margin: 10px;
  border-radius: 10px 10px 0 10px;
  padding: 4px 5px;
  background-color: #53b87c;
  color: white;
}

.msg-display li:nth-child(odd) {
  background-color: #fff;
  color: #1b1827;
}

.msg-display::-webkit-scrollbar {
  display: none;
}
.messages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_text {
  width: 80%;
  border: none;
  border-radius: 25px;
  padding: 5px;
  color: #333;
}

.send {
  text-align: center;
  width: 80px;
  color: #251b3c;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
}

.send:hover {
  background-color: #333;
  color: #53b87b;
  cursor: pointer;
}

.poruke {
  color: #251b3c;
  background-color: white;
  position: absolute;
  margin: 10px;
  border-radius: 5px;
  padding: 4px 5px;
}

.p1 {
  left: 0;
  background-color: #53b87c;
  color: white;
}

.p2 {
  right: 0;
  background-color: #fff;
  color: #1b1827;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  .chat {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 0;
    padding-top: 20px;
  }
  .btn {
    margin: 0;
    border-radius: 0;
  }
  header h1 {
    margin-bottom: 20px;
  }

  header h3 {
    display: none;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  #dropdown_btn {
    border-radius: 10px;
    color: white;
  }

  #dropdown_btn.border {
    border-radius: 10px 10px 0 0;
  }

  #up {
    display: none;
  }

  #down {
    display: inline;
  }

  #down.hide {
    display: none;
  }

  #up.show {
    display: inline;
  }

  .chatrooms {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    z-index: 9000;
  }
  .chatrooms.active {
    display: flex;
  }

  .room {
    border-bottom: 1px solid #fff;
  }

  .room:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
  }

  .msg-display {
    height: 430px;
    margin-bottom: 5px;
  }

  .send {
    padding: 5px 0;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
  }
  .messages {
    margin-top: 3px;
  }
}

/* TABLET */

@media only screen and (min-width: 601px) and (max-width: 1210px) {
  .chat {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 0;
    padding-top: 20px;
  }
  .btn {
    margin: 0;
    border-radius: 0;
  }
  header h1 {
    margin-bottom: 20px;
  }

  header h3 {
    display: none;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  #dropdown_btn {
    border-radius: 10px;
    color: white;
  }

  #dropdown_btn.border {
    border-radius: 10px 10px 0 0;
  }

  #up {
    display: none;
  }

  #down {
    display: inline;
  }

  #down.hide {
    display: none;
  }

  #up.show {
    display: inline;
  }

  .chatrooms {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    z-index: 9000;
  }
  .chatrooms.active {
    display: flex;
  }

  .room {
    border-bottom: 1px solid #fff;
  }

  .room:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
  }

  .msg-display {
    height: 430px;
    margin-bottom: 5px;
  }

  .send {
    padding: 5px 0;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
  }
  .messages {
    margin-top: 3px;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1000px) {
}
